<div class="medium-10 columns">
    <div class="movie">
      <h1><%= link_to movie.title, movie %></h1>
      <h3><%= movie.year %></h3>
      <p><%= image_tag movie.image, height: 300, width: 300 %></p>
      <p><%= movie.description %></p>
    </div>
    <hr />
</div>

<-- What I had to change was the @movies.each do |movie|, it has not place in the partials, because of rails magic </-->
