<div class="row">

  <%= render "movies/side_bar" %>

<!-- how to render this part, its confusing!!! -->

  <%= render partial: "movie", locals: {movie: @movie} %>

    <div class="movie">
      <%= button_to "Rent!", movie_rentals_path(@movie), class: :button %>
    </div>

    <div>
      <%= link_to "Back", movies_path, class: :button %>
    </div>

  </div>
</div>
